@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto:ital,wght@1,300;1,400&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  min-height: 100vh;
  padding: 5px;

}

.github-picker {
  position: absolute !important;
  margin-top: 10px;
}
.content {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: normal;
  font-size: 4rem;
  color: #ffff;
  text-align: center;
  margin-bottom: 60px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.text {
  font-size: 6rem;
  line-height: 1;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.smallText {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 25px;
  color: #ffff;
}
.countdown {
  width: 150px;
  text-align: center;
  margin: 1rem 2rem;
}

.colorPickerButton {
  color: #ffff;
}

.changeColorButton {
  background-color: #ffff;
  border: #666666 1px solid;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}